<html lang="en">
<head {{helmet.htmlAttributes.toString()|safe}}>
    {{helmet.title.toString()|safe}}
    {{helmet.meta.toString()|safe}}
    <meta charset="UTF-8">
    {{helmet.link.toString()|safe}}
</head>
<body>
<div class="container">
    <div>{{ container | safe }}</div>
</div>
<script>
    // WARNING: See the following for security issues around embedding JSON in HTML:
    // http://redux.js.org/docs/recipes/ServerRendering.html#security-considerations
    window.__PRELOADED_STATE__ = {{ state | safe }}
</script>
</body>
</html>
